version: '3.8'

networks:
  scale_net:

services:
  backend:
    build: ./backend
    # IMPORTANT: If DB isn't ready, restart until it is
    restart: on-failure 
    ports:
      - "8000:8000"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./backend:/app
      - ./challenge-sql-injection:/app/challenge-sql-injection
      - ./challenge-xss:/app/challenge-xss
    networks:
      - scale_net
    depends_on:
      - main_db
    command: ["uvicorn", "app.main:app", "--host", "0.0.0.0", "--port", "8000", "--reload"]

  frontend:
    build: ./frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      # CRITICAL: This keeps the container's node_modules separate from your computer
      - /app/node_modules
    networks:
      - scale_net
    command: npm run dev -- --host
    environment:
      - VITE_API_URL=http://localhost:8000

  main_db:
    image: mysql:8.0
    container_name: main_db
    environment:
      - MYSQL_DATABASE=scale_db
      - MYSQL_USER=user
      - MYSQL_PASSWORD=password
      - MYSQL_ROOT_PASSWORD=rootpassword
    volumes:
      - db_data:/var/lib/mysql
      - ./db_init/init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - scale_net
    ports:
      - "3306:3306"

  challenge_db_sqli:
    image: mysql:8.0
    container_name: challenge_db_sqli
    environment:
      - MYSQL_DATABASE=testdb
      - MYSQL_USER=user
      - MYSQL_PASSWORD=password
      - MYSQL_ROOT_PASSWORD=rootpassword
    volumes:
      - ./challenge-sql-injection/users.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "3307:3306"
    networks:
      - scale_net

volumes:
  db_data:
  node_modules:
